/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
.form-email {
    background-color: rgb(61, 58, 85);
    border-radius: 5px;
    height: 170px;
    padding-left: 30px;
    padding-top: 20px;
}
span {
    color: rgb(234, 160, 0);
}
.content {
    color: white;
    line-height: 1.5;
}
.title {
    color: #ddd;
}
#email {
    width: 25%;
    height: 25px;
}
#submit {
    background-color: yellow;
    color: black;
    width: 20%;
    height: 30px;
    border: none;
}
.form-email:hover > #email::placeholder {
    color: rgb(234, 160, 0);
}
.form-email:hover > #email {
    background-color: #ddd;
}
.form-email:hover > #submit {
    background-color: rgb(234, 160, 0);
    color: white;
}
