h3 {
    font-family: 'Alfa Slab One';
    color: rgb(64, 18, 18);
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h2, input::placeholder, .placeholder {
    padding-left: 10px;
    font-family: 'Bebas Neue';
    color: rgb(64, 18, 18);
    font-size: 15px;
}
h2 {
    font-size: 25px;
}
input::placeholder {
    font-size: 20px;
}
h2, h3 {
    text-align: center;
}
button {
    font-family: 'Alfa Slab One';
    color: white;
    background-color: rgb(192, 18, 18);
    border: none;
    border-radius: 2px;
    width: 310px;
    height: 45px;
}
input {
    width: 300px;
    height: 40px;
}

td {
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}
input[type="date"],
input[type="time"] {
    width: 100px;
    display: none;
}
.date-time {
    border: 1px solid;
    width: 305px;
    height: 40px;
    border-radius: 2px;
    text-align: center le ;
    line-height: 35px;
}
label {
    display: inline-block;
}
.placeholder {
    padding-left: 15px;
    font-size: 20px;
}
.radio {
    display: none;
}
.radio:checked ~ #time:focus {
    background: red;
}
