* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #000000;
    color: white;
}

.start {
    width: 100vw;
    height: 100vh;
    position: relative;
    .img {
        width: 70vw;
        height: 100vh;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }
    .btn-start {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        font-size: 35px;
        color: white;
        background-color: transparent;
        padding: 20px;
        font-weight: 400;
        border: 1px solid #fff;   
        border-radius: 10px;
        cursor: pointer;
    }
    .time-start {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: 100vw;
        height: 100px;
        background-color: #000000;
        display: flex;
        opacity: 0;
        visibility: hidden;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .timer {
        color: white;
        transition: font-size 0.8s ease;
    }
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
    font-size: 65px !important;
}

.hidden {
    display: none !important;
}

.question {
    height: 100vh;
    padding: 10px;
    .animation-time {
        width: 100%;
        height: 5px;
        border-radius: 99px;
        background-color: #999696;
        animation: example 15s linear 8;
    }
    .title-question {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        div {
            display: flex; 
            column-gap: 15px;
            .counter-ans {
                background-color: rgba(161, 161, 161, 0.826);
                padding: 10px;
                border-radius: 5px;
                display: block;
                span {
                    font-size: 20px;
                }
            }
            .counter-boxed {
                width: 320px;
                border: 1px solid gray;
                border-radius: 8px;
                display: flex;
                column-gap: 2px;
                span {
                    width: 33.33%;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    font-size: 18px;
                    background-color: rgba(189, 216, 16, 0.897);
                    border-radius: 10px;
                }
            }
        }
        .counter-score {
            width: fit-content;
            margin-right: 30px;
            font-size: 30px;
        }
    }
    .wrapper-question {
        margin-top: 20px;
        width: 100%;
        height: 70%;
        position: relative;
        left: -100vw;
        transition: left 0.5s linear;
        .img-question {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: center;
            border-radius: 10px;
        }
        .content-question {
            width: 95%;
            height: 45%;
            position: absolute;
            top: 10px;
            left: 50%;
            translate: -50%;
            background-color: #000000a8;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            overflow: auto;
            cursor: pointer;
        }
        .list-ans {
            width: 95%;
            height: 45%;
            position: absolute;
            bottom: 10px;
            left: 50%;
            translate: -50%;
            display: flex;
            justify-content: space-between;
            .item-ans {
                width: 23%;
                background-color: #000000a8;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                overflow: hidden;
                cursor: pointer;
            }
            .item-ans {
                &:hover {
                    background-color: rgb(6, 166, 234);
                }
                &.active {
                    background-color: rgb(10, 232, 73);
                }
            }
        }
        .box-status {
            width: 100%;
            height: 23%;
            border-radius: 10px;
            font-size: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


.box-end {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .content {
        width: 40%;
        height: 100%;
        margin: 0 auto;
        border-radius: 10px;
        padding: 100px 10px;
        background-color: #000000a8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        align-content: stretch;
        .title {
            font-size: 20px;
            margin-bottom: 15px;
        }
        .box-accuracy{
            display: flex;
            row-gap: 5px;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
            border-radius: 10px;
            width: 100%;
            background-color: #000000;
            .progress {
                width: 95%;
                height: 15px;
                background-color: #EF3C69;
                border-radius: 99px;
                position: relative;
                .progress-bar {
                    position: absolute;
                    left: 0;
                    // width: 100%;
                    height: 100%;
                    border-radius: 99px;
                    background-color: #62C370;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 13px;
                }
            }
        }
        .ans-quiz {
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            column-gap: 15px;
            row-gap: 15px;
            justify-content: center;
            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #000000;
                height: fit-content;
                width: 47%;
                border-radius: 10px;
                height: 100px;
                .number {
                    font-size: 30px;
                    display: block;
                    margin-bottom: 10px;
                }
                .title {
                    font-size: 16px;
                    color: gray;
                    display: block;
                }
            }
        }
        .play-btn {
            margin-top: 20px;
            background-color: #8854C0;
            width: 97%;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                background-color: #8732e2;
            }
        }
    }
} 


@keyframes example {
    from {width: 100%;}
    to {width: 0;}
}



@keyframes ldio-mxsbeihds98 {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-mxsbeihds98 div {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 5px solid #e15b64;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-mxsbeihds98 div {
    animation: ldio-mxsbeihds98 1s linear infinite;
    top: 50%;
    left: 50%;
  }
  .loadingio-spinner-rolling-joy7mybew8q {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #000000;
  }
  .ldio-mxsbeihds98 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-mxsbeihds98 div { box-sizing: content-box; }
  /* generated by https://loading.io/ */

  .animation {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
