@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

html {
  font-size: 10px;
}

body {
  color: #2C2C2C;
  font-size: 1.6rem;
  font-family: Inter, sans-serif;
  line-height: 1.25;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}
a:hover {
  color: #46B20F;
}

h1, h2, h3, h4, h5, h6 {
  color: #2C2C2C;
}

ul, ol {
  list-style: none;
}

.container {
  --container-width: 1200px;
}

.header {
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
}
.header .logo {
  height: 99px;
}
.header .logo img {
  max-height: 100%;
  width: auto;
}
.header .header-nav {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.header .header-nav .menu ul {
  display: flex;
}
.header .header-nav .menu ul li {
  padding: 0 25px;
}
.header .header-nav .menu ul li a {
  font-weight: 600;
  padding-bottom: 54px;
}
.header .header-nav .menu ul li.active a, .header .header-nav .menu ul li:hover a {
  border-bottom: 1.667px solid #46B20F;
  color: #46B20F;
}
.header .header-nav .cart-icon {
  padding: 0 25px;
}
.header .header-nav .cart-icon a {
  position: relative;
  display: inline-block;
}
.header .header-nav .cart-icon a span {
  position: absolute;
  top: -5px;
  right: -6px;
  background: #FF6916;
  color: white;
  padding: 0 4px;
  font-size: 1.3rem;
  border-radius: 50%;
}
.header .header-nav .search-icon {
  padding-left: 25px;
}
.header .menu-toggle {
  display: none;
}

@media screen and (max-width: 991.98px) {
  .header .menu-toggle {
    display: flex;
    align-items: center;
  }
  .header .menu-toggle label {
    font-size: 2.5rem;
  }
  .header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header-nav .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1607843137);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    transition: visibility 0.4s ease;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu {
    transform: translateX(0);
  }
  .header .header-nav .menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    background: #46B20F;
    padding: 20px 0;
    min-width: 250px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .header .header-nav .menu ul {
    display: block;
  }
  .header .header-nav .menu ul li a {
    color: white !important;
    border: 0 !important;
    display: block;
    padding: 10px 0;
  }
  .header .header-nav .search-icon {
    padding-left: 0;
  }
}
.footer {
  width: calc(100vw - 21px);
  height: 407.5px;
  margin-top: 100px;
  background: #F2FFEC;
}
.footer .footer_top-wrapper {
  margin: 0 auto;
  width: 1005px;
  display: flex;
  justify-content: center;
  padding-top: 66.67px;
  padding-bottom: 72.5px;
  border-bottom: 1.667px solid #A3A3A3;
}
.footer .footer_top-wrapper .box h2 {
  color: #46B20F;
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 13px;
}
.footer .footer_top-wrapper .box h2 ~ ul li {
  display: flex;
  align-items: center;
  padding-bottom: 6.67px;
  gap: 10px;
}
.footer .footer_top-wrapper .box h2 ~ ul li p {
  color: #2C2C2C;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 127.604%;
}
.footer .footer_top-wrapper .box h2 ~ ul li p span {
  color: #2C2C2C;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.footer .footer_top-wrapper .header_logo {
  padding-right: 107.5px;
  margin-top: -30px;
}
.footer .footer_top-wrapper .header_logo p {
  color: #2C2C2C;
  font-family: Inter;
  font-size: 13.333px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.125%;
}
.footer .footer_top-wrapper .header_logo p span {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
.footer .footer_top-wrapper .homepage {
  padding-right: 89.17px;
}
.footer .footer_top-wrapper .support {
  padding-right: 69.67px;
}
.footer .footer_bottom-wrapper {
  margin: 24.17px auto;
  width: 1005px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_bottom-wrapper .img {
  width: 174.167px;
  height: 66.667px;
}
.footer .footer_bottom-wrapper .list_icon {
  display: flex;
  gap: 6.67px;
}
.footer .footer_bottom-wrapper .list_icon .icon {
  width: 40px;
  height: 40px;
  background-color: #DCFFCA;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  overflow: hidden;
}
.main .intro_product .container .row {
  display: flex;
  align-items: center;
  height: 678.333px;
  position: relative;
}
.main .intro_product .container .row .content {
  padding: 0;
}
.main .intro_product .container .row .content .box_background,
.main .intro_product .container .row .content .hero-image {
  display: none;
}
.main .intro_product .container .row .content h1 {
  color: #2C2C2C;
  font-size: 3.6rem;
  font-weight: 800;
}
.main .intro_product .container .row .content h1 + p {
  font-size: 4.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-bottom: 28px;
}
.main .intro_product .container .row .content h1 + p + p {
  width: 449.167px;
  height: 85px;
  font-size: 1.6rem;
  font-weight: 400;
}
.main .intro_product .container .row .box {
  height: 100%;
}
.main .intro_product .container .row .box .hero-image {
  width: 676.141px;
  position: absolute;
  top: 0;
  left: calc(50% - 140px);
}
.main .intro_product .container .row .box .box_background {
  position: absolute;
  z-index: -1;
  top: 0;
  border-radius: 16.667px 0px 0px 16.667px;
  background: #DCFFCA;
  width: calc(50vw - 20px);
  height: 708.333px;
}
.main .intro_product .container .row .box .box_background p {
  position: absolute;
  z-index: 0;
  width: 676.141px;
  transform: rotate(90deg);
  font-size: 16.667rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  top: 30%;
  right: -15%;
  color: #216000;
  opacity: 0.150000006;
}
@media screen and (max-width: 1400px) {
  .main .intro_product .row .box .hero-image {
    width: 550px !important;
  }
  .main .intro_product .row .box .box_background {
    height: 600px !important;
  }
  .main .intro_product .row .box .box_background p {
    right: -25% !important;
  }
}
@media screen and (max-width: 1200px) {
  .main .intro_product .row .content {
    transform: translateY(-100px) !important;
  }
  .main .intro_product .row .content h1 {
    font-size: 2rem !important;
  }
  .main .intro_product .row .content h1 + p {
    font-size: 3rem !important;
  }
  .main .intro_product .row .content h1 + p + p {
    width: 400px !important;
    height: 85px !important;
    font-size: 1.6rem !important;
  }
  .main .intro_product .row .box .hero-image {
    width: 450px !important;
  }
  .main .intro_product .row .box .box_background {
    height: 500px !important;
  }
  .main .intro_product .row .box .box_background p {
    right: -20% !important;
    font-size: 13rem !important;
    font-weight: 700 !important;
    width: 500px !important;
  }
}
@media screen and (max-width: 992px) {
  .main .intro_product .row .content {
    margin: 0 auto !important;
    transform: translateY(100px) !important;
  }
  .main .intro_product .row .content .box_background,
  .main .intro_product .row .content .hero-image {
    display: block !important;
  }
  .main .intro_product .row .content h1 {
    font-size: 1.5rem !important;
  }
  .main .intro_product .row .content h1 + p {
    font-size: 2.5rem !important;
  }
  .main .intro_product .row .content h1 + p + p {
    width: 400px;
    height: 85px;
    font-size: 1;
  }
  .main .intro_product .row .col-6 .box {
    display: none;
  }
}
.main .review-product .container {
  height: 774.167px;
}
.main .review-product .container h2 {
  width: 588px;
  height: 84px;
  margin: 100px auto 0 auto;
  color: #2C2C2C;
  text-align: center;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
}
.main .review-product .container h2 + p {
  margin: 25px auto;
  width: 643.333px;
  height: 44.167px;
  color: #2C2C2C;
  text-align: center;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 127.604%;
}
.main .review-product .container .row {
  height: 596.667px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21.67px;
  position: relative;
}
.main .review-product .container .row div[class^=background-item_] {
  position: absolute;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  z-index: -1;
}
.main .review-product .container .row .background-item_1 {
  top: 0;
  left: 0;
  background-color: #DCFFCA;
}
.main .review-product .container .row .background-item_3 {
  bottom: 0;
  right: 0;
  background-color: #FFF0E7;
}
.main .review-product .container .row div[class^=item-] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 33.33px 0 58.33px 33.33px;
  gap: 23.33px;
}
.main .review-product .container .row div[class^=item-] .item_img {
  width: 83.333px;
  height: 83.333px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .review-product .container .row div[class^=item-] .item_img img {
  width: 45px;
  height: 45px;
}
.main .review-product .container .row div[class^=item-] span {
  color: #2C2C2C;
  font-family: Inter;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.main .review-product .container .row div[class^=item-] span + p {
  color: #2C2C2C;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px;
}
.main .review-product .container .row .item-1,
.main .review-product .container .row .item-3 {
  width: 294.167px;
  height: 337.5px;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.main .review-product .container .row .item-1 .item_img,
.main .review-product .container .row .item-3 .item_img {
  background-color: #FFF0E7;
}
.main .review-product .container .row .item-2 {
  width: 342.5px;
  height: 392.5px;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.main .review-product .container .row .item-2 .item_img {
  background-color: #F2FFEC;
}
.main .list-product {
  height: 1600px;
}
.main .list-product h2 {
  margin: 100px auto 50px auto;
  width: 155px;
  color: #2C2C2C;
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
}
.main .list-product .container .row .item {
  height: 592.124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 58px;
}
.main .list-product .container .row .item .image,
.main .list-product .container .row .item .image-between {
  width: 269.316px;
  height: 269.316px;
  background: #FFBA94;
  border-radius: 50%;
  position: relative;
}
.main .list-product .container .row .item .image img,
.main .list-product .container .row .item .image-between img {
  width: 240.117px;
  height: 241.148px;
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
}
.main .list-product .container .row .item .image-between {
  background: #C5FFA8;
}
.main .list-product .container .row .item .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main .list-product .container .row .item .content .item-title {
  text-align: center;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .list-product .container .row .item .content span {
  font-weight: 400;
  line-height: 130%;
}
.main .list-product .container .row .item .content span span {
  font-size: 23.333px;
  font-weight: 700;
}
.main .list-product .container .row .item .content button.btn {
  display: inline-flex;
  padding: 13.333px 11.667px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  background: #46B20F;
  color: #fff;
  cursor: pointer;
}
.main .list-product .container .row.secondary-row {
  margin-top: 96.04px;
  margin-bottom: 128.67px;
}
.main .section-news {
  height: 760.432px;
}
.main .section-news .news-title {
  color: #2C2C2C;
  font-family: Inter;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
  text-align: center;
}
.main .section-news .news-title + .news-text {
  font-weight: 400;
  line-height: 20.417px;
  text-align: center;
  width: 657.5px;
  margin: 23px auto 28.83px auto;
}
.main .section-news .container .row .news-item .news-img {
  height: 273.333px;
  border-radius: 6.667px;
  margin-bottom: 16.27px;
}
.main .section-news .container .row .news-item .calendar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18.67px;
}
.main .section-news .container .row .news-item .calendar a {
  color: #46B20F;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 170px;
}
.main .section-news .container .row .news-item .calendar img {
  width: 20px;
  height: 20px;
}
.main .section-news .container .row .news-item .calendar span {
  color: #A3A3A3;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main .section-news .container .row .news-item .news-content h3 {
  width: 395.833px;
  color: #2C2C2C;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
  margin-bottom: 16px;
}
.main .section-news .container .row .news-item .news-content h3 + p {
  width: 389.167px;
  color: #2C2C2C;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 127.604%;
}
.main .section-news .news-btn {
  width: fit-content;
  margin: 79.67px auto 100px auto;
}
.main .section-news .news-btn button {
  margin: 0 auto;
  display: inline-flex;
  padding: 11.667px 21.667px;
  justify-content: center;
  align-items: center;
  gap: 3.333px;
  border-radius: 6.667px;
  border: 0.833px solid #46B20F;
  color: #2C2C2C;
  font-size: 2rem;
  font-weight: 700;
}
.main .section-news .news-btn button img {
  width: 23.333px;
  height: 23.333px;
  background-color: #FF6916;
}
.main .product_use {
  height: 800px;
}
.main .product_use .use_title {
  color: #2C2C2C;
  text-align: center;
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
  margin-bottom: 24.33px;
  margin-top: 100px;
}
.main .product_use .use_text {
  height: 53.333px;
  width: 745px;
  margin: 0 auto;
  color: #2C2C2C;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.604%;
  margin-bottom: 50px;
}
.main .wrapper {
  width: 1087.5px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.main .wrapper .item {
  width: 345.833px;
  height: 359.167px;
  background-color: #fff;
  border-radius: 8.333px;
  border: 1px solid #FFF0E7;
}
.main .wrapper .item img {
  height: 195px;
  border-radius: 8.333px;
}
.main .wrapper .item h3 {
  margin-top: 24.17px;
  margin-left: 27.5px;
  max-width: 280px;
  color: #E05000;
  text-shadow: 0px 3.3333332539px 3.3333332539px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
}
.main .wrapper .item h3 + p {
  margin-left: 27.5px;
  color: #19191B;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.604%;
}
.main .background_wrapper {
  width: calc(100vw - 21px);
  height: 360.833px;
  border-radius: 8.333px;
  background: #FFF0E7;
  position: relative;
  z-index: -1;
  top: -244.143px;
  left: 0;
  right: 0;
}
.main .product_function .function_wrapper {
  margin: 0 auto;
  width: 975px;
  flex-wrap: wrap;
  display: flex;
  column-gap: 52.5px;
  row-gap: 38.83px;
  justify-content: space-between;
  padding-bottom: 140px;
}
.main .product_function .function_wrapper .item {
  flex-basis: 28%;
  display: flex;
  column-gap: 13px;
}
.main .product_function .function_wrapper .item img {
  width: 55.833px;
  height: 55.833px;
}
.main .contact .wrapper_contact {
  width: 1202.167px;
  height: 498.333px;
  margin: 0 auto;
  display: flex;
  gap: 118.33px;
}
.main .contact .wrapper_contact .wrapper_form h3 {
  color: #2C2C2C;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
  margin: 26px 0 55px 0;
}
.main .contact .wrapper_contact .wrapper_form h3 + input {
  display: inline-flex;
  padding: 13.333px 491.667px 13.333px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #A3A3A3;
}
.main .contact .wrapper_contact .wrapper_form .form_input {
  display: flex;
  column-gap: 17.5px;
}
.main .contact .wrapper_contact .wrapper_form .form_input input {
  display: flex;
  width: 324.667px;
  padding: 13.333px 176.667px 13.333px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #A3A3A3;
  margin: 22.67px 0;
}
.main .contact .wrapper_contact .wrapper_form textarea {
  display: inline-flex;
  width: 668.32px;
  height: 149px;
  padding: 13.333px 497.5px 116.667px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #A3A3A3;
}
.main .contact .wrapper_contact .wrapper_form .btn {
  display: flex;
  justify-content: flex-end;
}
.main .contact .wrapper_contact .wrapper_form .btn button {
  display: flex;
  padding: 13.333px 17.667px;
  width: 125px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  background: #46B20F;
  color: white;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
