@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

.todo {
  width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.todo .title {
  font-size: 35px;
  font-weight: 900;
}
.todo .title span:first-child {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #059669;
  background-image: linear-gradient(90deg, #059669 0%, #60a5fa 100%);
}
.todo .search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.todo .search .search-input {
  width: 80%;
  height: 55px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.todo .search .search-input .input {
  font-size: 18px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  padding-left: 15px;
  border-radius: 10px;
  border: none;
}
.todo .search .search-input .input:focus {
  border: 1.5px solid black;
}
.todo .search .search-input .btn {
  position: absolute;
  right: 10px;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #1D4ED8;
  color: white;
  cursor: pointer;
}
.todo .search .search-input .btn:hover {
  background-color: #052e9d;
}
.todo .search .search-btn {
  font-size: 18px;
  padding: 12px 20px;
  background-color: #048c61;
  color: white;
  border: none;
  border-radius: 10px;
}
.todo .search .search-btn:hover {
  background-color: #01704d;
  cursor: pointer;
}
.todo .list_items,
.todo .list_items_success {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.todo .list_items .item,
.todo .list_items_success .item {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid rgba(192, 191, 191, 0.833);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 17px;
  height: 65px;
  align-items: center;
}
.todo .list_items .item .title,
.todo .list_items_success .item .title {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.todo .list_items .item .list_icon,
.todo .list_items_success .item .list_icon {
  display: flex;
  column-gap: 8px;
}
.todo .list_items .item .list_icon .icon,
.todo .list_items_success .item .list_icon .icon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: 4px solid white;
  cursor: pointer;
}
.todo .list_items .item .list_icon .icon:first-child,
.todo .list_items_success .item .list_icon .icon:first-child {
  background-color: #c50c41;
}
.todo .list_items .item .list_icon .icon:nth-child(2),
.todo .list_items_success .item .list_icon .icon:nth-child(2) {
  background-color: #416add;
}
.todo .list_items .item .list_icon .icon:last-child,
.todo .list_items_success .item .list_icon .icon:last-child {
  background-color: #9CA3AF;
}
.todo .list_items .item .list_icon .icon:first-child:hover,
.todo .list_items_success .item .list_icon .icon:first-child:hover {
  background-color: #9F1239;
}
.todo .list_items .item .list_icon .icon:nth-child(2):hover,
.todo .list_items_success .item .list_icon .icon:nth-child(2):hover {
  background-color: #1D4ED8;
}
.todo .list_items .item .list_icon .icon:last-child:hover,
.todo .list_items_success .item .list_icon .icon:last-child:hover {
  background-color: #026d4c;
}
.todo .list_items .item .list_icon .icon:first-child:active,
.todo .list_items_success .item .list_icon .icon:first-child:active {
  border: 4px solid rgba(231, 151, 174, 0.8862745098);
}
.todo .list_items .item .list_icon .icon:nth-child(2):active,
.todo .list_items_success .item .list_icon .icon:nth-child(2):active {
  border: 4px solid rgba(178, 187, 212, 0.8862745098);
}
.todo .list_items .item .list_icon .icon:last-child:active,
.todo .list_items_success .item .list_icon .icon:last-child:active {
  border: 4px solid rgba(34, 205, 113, 0.8862745098);
}
.todo .btn_completed {
  padding: 13px 25px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: #919aaa;
  color: white;
  font-size: 16px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.todo .btn_completed:hover {
  background-color: #666970;
}
.todo .btn_completed .icon {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.active {
  background-color: #057d57 !important;
  border: 5px solid rgba(50, 207, 157, 0.5882352941) !important;
}
.active:hover {
  background-color: #015238 !important;
}
.active .icon {
  transform: rotate(90deg) !important;
  transition: transform 0.2s linear;
}

.hidden {
  display: none !important;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(133, 139, 149, 0.5960784314);
  visibility: hidden;
  opacity: 0;
}

.show_overlay {
  visibility: visible;
  opacity: 1;
}

.box_add-todo,
.box_edit-todo {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 35%;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.box_add-todo .input,
.box_edit-todo .input {
  background-color: rgba(199, 204, 212, 0.3450980392);
  width: 100%;
  padding: 18px;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 10px;
}
.box_add-todo hr,
.box_edit-todo hr {
  width: calc(100% + 40px);
  color: gray;
}
.box_add-todo .list-btn .btn,
.box_edit-todo .list-btn .btn {
  background-color: white;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.box_add-todo .list-btn .btn:first-child,
.box_edit-todo .list-btn .btn:first-child {
  background-color: #048c61;
  color: white;
  margin-right: 15px;
}
.box_add-todo .list-btn .btn:last-child,
.box_edit-todo .list-btn .btn:last-child {
  border: 1px solid gray;
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
