.footer {
    width: calc(100vw - 21px);
    height: 407.5px;
    margin-top: 100px;
    background: #F2FFEC;
    .footer_top-wrapper {
        margin: 0 auto;
        width: 1005px;
        display: flex;  
        justify-content: center;
        padding-top: 66.67px;
        padding-bottom: 72.5px;
        border-bottom: 1.667px solid #A3A3A3;
        .box {
            h2 {
                color: $primaryColor;
                font-family: Inter;
                font-size: 16.667px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;
                padding-bottom: 13px;
                ~ ul {
                    li {
                        display: flex;
                        align-items: center;
                        padding-bottom: 6.67px;
                        gap: 10px;
                        p {
                            color: $textColor;
                            font-family: Inter;
                            font-size: 1.6rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 127.604%;
                            span {
                                color: $textColor;
                                font-family: Inter;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 125%;
                            }
                        }
                    }
                }
            }
        }
        .header_logo {
            padding-right: 107.5px;
            margin-top: -30px;
            p {
                color: $textColor;
                font-family: Inter;
                font-size: 13.333px;
                font-style: normal;
                font-weight: 400;
                line-height: 153.125%;
                span {
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20.417px;
                }
            }
        }
        .homepage {
            padding-right: 89.17px;
        }
        .support {
            padding-right: 69.67px;
        }
    }
    // End footer top wrapper

    .footer_bottom-wrapper {
        margin: 24.17px auto;
        width: 1005px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img {
            width: 174.167px;
            height: 66.667px;
        }
        .list_icon {
            display: flex;
            gap: 6.67px;
            .icon {
                width: 40px;
                height: 40px;
                background-color: #DCFFCA;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

}