* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    height: 1200px;
    background-color: #EEEDEF;
}

.menu {
    width: fit-content;
    margin: 80px auto;
}

.menu input {
    display: none;
}

.list_item {
    display: flex;
    position: relative;
}

.list_item label:not(:first-child) {
    display: block;
    line-height: 40px;
    border: 2px solid rgba(188, 181, 181, 0.329);
    border-left: 1px solid rgba(188, 181, 181, 0.329);
}

.list_item label:first-child {
    display: block;
    line-height: 40px;
    border: 2px solid rgba(188, 181, 181, 0.329);
}

.list_item label span span {
    display: block;
    background-color: white;
    height: 100%;
    padding: 0 15px;
    border: 3px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list_item label span span:hover {
    background-color: rgb(54, 106, 194);
    color: white;
    cursor: pointer;
}

input:nth-child(1):checked ~ .list_item label:nth-child(1) span span,
input:nth-child(2):checked ~ .list_item label:nth-child(2) span span,
input:nth-child(3):checked ~ .list_item label:nth-child(3) span span,
input:nth-child(4):checked ~ .list_item label:nth-child(4) span span {
    background-color: rgb(54, 106, 194);
    color: white;
}

.list_item label .content {
    position: absolute;
    background-color: white;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 2px solid rgba(188, 181, 181, 0.443);
    padding: 20px 15px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease, transform  0.3s ease;
    transform-origin: top;
    overflow-x: auto;
}

.list_item label .content h2 {
    width: 110%;
    transition: transform 1s linear;
    transform: skew(0deg);
    transform-origin: top;
}

.list_item label .content:nth-of-type(1) {
    opacity: 1;
    background-color: white;
    z-index: 1;
}

input:nth-child(2):checked ~ .list_item label .content:nth-of-type(1),
input:nth-child(3):checked ~ .list_item label .content:nth-of-type(1),
input:nth-child(4):checked ~ .list_item label .content:nth-of-type(1) {
    opacity: 0;
}

input:nth-child(1):checked ~ .list_item label .content:nth-of-type(1),
input:nth-child(2):checked ~ .list_item label .content:nth-of-type(2),
input:nth-child(3):checked ~ .list_item label .content:nth-of-type(3),
input:nth-child(4):checked ~ .list_item label .content:nth-of-type(4) {
    opacity: 1;
    z-index: 1;
    animation: name 0.5s 1 linear;
}

@keyframes name {
    0% {
        transform: scaleY(1);
        opacity: 1;
        background-color: white;
    }
    50% {
        transform: scaleY(0.5);
        opacity: 0.2;
        background-color: rgb(218, 211, 211);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        background-color: white;
    }
}
