@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=Roboto:wght@100;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000 !important;
    position: relative;
}

button {
    border: none;
}

.loading-start {
    background-color: white;
    z-index: 2;
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
    img {
        width: 80px;
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    color: white;
    padding: 25px;
    border-right: 1px solid rgba(38, 38, 38);
    .logo {
        margin: 30px 0;
        font-size: 18px;
        cursor: pointer;
    }
    .nav {
        height: 85%;
        .list-item {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            column-gap: 15px;
            justify-content: space-between;
            list-style: none;
            padding-left: 0;
            .item {
                width: 100%;
                display: flex;
                column-gap: 10px;
                align-items: center;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                .item-icon {
                    min-width: 30px;
                    max-width: 40px;
                }
                &:hover {
                    background-color: #1A1A1A;
                }
            }
        }
    }
}

.icon-return-start {
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: white;
    font-size: 23px;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    border-radius: 50%;
    cursor: pointer;
    &.show {
        display: flex;
    }
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    color: white;
    .post-item {
        border-bottom: 1px solid rgba(38, 38, 38);
        padding: 10px 50px;
        .post-item-title {
            display: flex;
            align-items: center;
            column-gap: 10px;
            cursor: pointer;
            .img img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
            &:hover {
                text-decoration: underline;
            }
            .timeUp {
                margin-left: 100px;
            }
        }

        .post-item-content {
            width: 400px;
            height: 300px;
        }

        .post-item-contact {
            margin-top: 20px;
            display: flex;
            column-gap: 15px;
            cursor: pointer;
        }
    }
}

.hidden {
    display: none !important;
}

.btn-sign {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }
}

.form-login,
.form-sign-up {
    margin: 50px auto;
    padding: 50px 20px 10px 20px;
    width: 350px;
    height: 380px;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        svg {
            width: 200px;
            height: 50px;
        }
    }

    input {
        padding-left: 10px;
        margin-top: 20px;
        width: 90%;
        height: 40px;
        border: 1px solid gray;
        border-radius: 3px;
    }

    .btn-login,
    .btn-sign-up {
        background-color: #4CB5F9;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 8px 0;
        margin-top: 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #1395ec;
        }
    }

    p.msg {
        color: red;
        height: 15px;
    }

    .contact {
        margin-top: 10px;
        display: flex;
        align-items: center;
        .btn {
            background-color: white;
            color: #1395ec;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.form-sign-up {
    height: 430px;
}

#root-form {
    position: fixed;
    inset: 0;
    background-color: white;
}

#root-create-article {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    position: fixed;
    z-index: 2;
    background-color: #262626;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 350px;
    height: 420px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.show {
        opacity: 1;
        visibility: visible;
    }
    .title {
        border-bottom: 1px solid gray;
        font-size: 22px;
        padding: 15px;
        text-align: center;
    }
    .content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        input,
        textarea {
            background-color: #30445B;
            display: block;
            border: 1px solid white;
            border-radius: 5px;
            outline: none;
            padding-left: 20px;
            color: white;
        }
        .content-title {
            height: 40px;
        }
        .content-text {
            padding: 10px;
            height: 200px;
        }
    }
    .btn-create-article {
        background-color: rgb(190, 188, 188);
        width: 130px;
        margin: 0 auto;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        left: 50%;
        translate: -50%;
        &:hover {
            background-color: white;
        }
    }
}

.overlay {
    position: fixed;
    z-index: 1;
    inset: 0;
    background-color: rgba(24, 24, 24, 0.635);
    visibility: hidden;
}