* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 35px;
    padding: 10px 0 20px 0;
}

.title p {
    font-size: 18px;
}

